---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} centered={true}>
  <main>
    <div>
      <h1 class="mb-8 text-3xl font-medium dark:text-white">
        Hello, I'm Charles Badger.
      </h1>
      <p>
        I'm a full-stack software engineer whose passionate about learning new
        technologies. I love to learn through small (or sometimes not small)
        coding experiments. I thought a blog would be a good way to document
        some of those experiments.
      </p>
    </div>
  </main>
</Layout>
